body {
        font-family: Arial, sans-serif;
        background: url('michi.jpg') no-repeat center center/cover;
        text-align: center;
    }
.container {
    margin-top: 50px;
}
.tittle {
    color: rgb(45, 223, 217);
    font-weight: bold;
}