body {
     background-color: yellow;
     font-family: Arial sans-serif;
     text-align: center;
     padding: 20px;
}
.container {
    margin-top: 50px;
}
.tittle {
    color: black;
    font-weight: bold;
}